.container_list{
    width: 600px;
    height: 100px;
    margin:auto;
}

.contact_data{
    text-align: left;
    padding-left: 20px;
}

p {
    margin-bottom:0px;
}

.buttons{
    justify-content: end;
}